/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";
h1{
  font-family: "Ravie";
  font-size: 36px;
  color: #e90c0c;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 0px;


}
h2 > em{

  color:#d027aa;
  font-style: normal;
}
h2{
  font-family: "Trebuchet MS", sans-serif;
  font-size: 24px;
  color: #333;
  float: right;
}
aside >h2{
  font-family: : Verdana, sans-serif;
  font-size: 48px;
  color: #333;
  transform: rotate(-90deg);
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  float: right;



}
h3{
  font-family: Verdana, sans-serif;
  font-size: 18px;
  color: #333;


}


#cardapio{
  width: 646px;

  font-family: Verdana;
  font-size: 14px;
  color: #333;
  border: solid 1px #aac0ae;
  float: right;
  position: relative;



}
#recipiente{
  background-image: linear-gradient(#f6f1b2,#4599b2);
  width: 800px;
  margin: 0 auto;
}
aside{
  width: 154px;
  position: absolute;

}
footer{
  clear: right;

}
